{% extends "tweet_feed/header.html" %}
{% block content %}
	<h2>Dynamic Tabs</h2>
  	<p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>
  	<ul class="nav nav-tabs">
  		{% set first = true %}
  		{% for user in name_list %}
  			{% if first %}
    			<li class="active"><a data-toggle="tab" href="#{{user}}">{{user}}</a></li>
    			{% set first = false %}
    		{% else %}
    			<li><a data-toggle="tab" href="#{{user}}">{{user}}</a></li>
    		{% endif %}
    	{% endfor %}
  	</ul>

  	<div class="tab-content">
  		{% set first = true %}
  		{% for user in name_list %}
  			{% if first  %}
    			<div id="{{user}}" class="tab-pane fade in active">
      				<h3>{{user}}</h3>
      				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</div>
    			{% set first = false %}
    		{% else %}
    			<div id="{{user}}" class="tab-pane fade">
      				<h3>{{user}}</h3>
      				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      			</div>
      		{% endif %}
    	{% endfor %}
  	</div>
{% endblock %}